/build

/cmd/*/*
!/cmd/*/*.go

/example/**/charts
/example/**/tmpcharts
/example/kpt/output-*
!/example/kpt/output-helm-kustomize
/example/kpt/output-helm-kustomize/output-kustomization
/example/kpt/output-helm-kustomize/static/generated-manifest.yaml

