helm-kustomize-plugin
helmr
coverage.out
.build-cache
example/**/charts
example/**/tmpcharts
example/*/requirements.lock
!example/cert-manager/requirements.lock
!example/invalid-requirements-lock/requirements.lock
example/*/output
